    <!-- Teaching Section -->
    <section id="teaching" class="content-section text-center">
        <div class="teaching-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Teaching</h2>
                    <p><h4>NDS Finanzmanagement und Rechnungslegung</h4></p>
                    <p><a href=https://fyzehnder.github.io/200403_SenseOfUrgency.js/>Einführung Digitalisierung – "Sense of Urgency" (DE)</a></p>
                    <p><a href=https://www.yannickzehnder.ch/200505_Digitale-Trends.js/>Einführung Digitalisierung – Digitale Trends (DE)</a></p>
                </div>
            </div>
        </div>
    </section>
